<% for(var i=0; i<vessels.length; i++) { %>

    <tr>
        <td>
            <%=i + 1 %>
        </td>
        <td>
            <%=vessels[i].name %>
        </td>
        <td>
            <%=vessels[i].nationality %>
        </td>
        <td>
            <%=vessels[i].reg_port %>
        </td>
        <td>
            <%=vessels[i].imo %>
        </td>
        <td>
            <%=vessels[i].cargo %>
        </td>
        <td>
            <%=vessels[i].client %>
        </td>
        <td>
            <%=vessels[i].arrival %>
        </td>
        <td>
            <%=vessels[i].departure %>
        </td>
        <td>
            <a href="/update-vessel?id=<%=vessels[i]._id %>" class="btn btn-shadow update">
                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
            </a>
            <a class="btn btn-shadow delete" data-id=<%=vessels[i]._id %>>
                <span class="text-gradient"><i class="fas fa-times"></i></span>
            </a>
        </td>
    </tr>
    <%}%>